<!DOCTYPE html>
<html>
  <head>
    <title>depend on | dependency management: automated | coming soon</title>

    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/bower_components/normalize-css/normalize.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/dependon.css" type="text/css">
    <link rel="icon" type="image/png" href="/favicon.png">

    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />  
  </head>
  <body>
    <header>
      <h1>depend on</h1>

      <h2>Dependency management: automated.</h2>

      <p>Coming soon.</p>
    </header>

    <section class="sign-up-now">
      <p>Sign up now and you'll be among the first to try it.</p>

      <form>
        <label for="email-address">Email Address</label>
        <input type="text" id="email-address" placeholder="john@doe.com">

        <button type="submit" id="submit-email-address">Submit</button>
      </form>
    </section>

    <footer>
      <p>©2014 <a href="http://crazygoatcreative.com">Crazy Goat Creative</a>. Brewed with love in the ATL.</p>
    </footer>
  </body>
</html>
